@tailwind base;
@tailwind components;
@tailwind utilities;

.fc .fc-event {
  background: transparent !important;
  border: none !important;
  padding: 0 !important;
}
.fc-day-today {
  background-color: #f2f7fa !important;
}

.fc-event {
  background: transparent !important;
  border: none !important;
  padding: 0 !important;
  margin-left: 16px;
  margin-right: 16px;
  margin-top: 2px;
  margin-bottom: 2px;
}

.fc-timegrid-now-indicator-line {
  background: red;
}

.fc-timegrid-col.fc-day-today {
  background-color: #f0f9ff !important;
}

.fc .fc-timegrid-slot {
  height: 50px;
}
